<p-toolbar>
  <ng-template #start>
    <div class="flex items-center">
      <img src="assets/Logo_DoS.png" style="height: 33px; margin-right: 1rem;" />
      <p-button (click)="onDashboard()" label="Dashboard" plain text />
      <p-button (click)="onReporting()" label="Reporting" plain text />
      <p-button (click)="onIpList()" label="IP Identifiers" plain text />

    </div>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-menu #userMenu [model]="menuItems" [popup]="true" />
      <p-avatar
        (click)="toggleUserMenu($event)"
        [style]="{ width: '32px', height: '32px', cursor: 'pointer' }"
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" />
    </div>
  </ng-template>
</p-toolbar>
